@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* navbar */
.header-logo {
  text-align: center;
  color: #000;

  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;

  user-select: none;
}
/* end navbar */

/* jumbotron */
.sec-header-title {
  position: absolute;
  left: 40px;
  top: 0;
}

.header-title {
  color: #0eb0f1;

  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100px */
}

.img-spin {
  animation-duration: 10s !important;
}

.scroll-spin-image {
  position: absolute;
  top: -80px;
  right: 40px;
}

.sec-jumbotron {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* end jumbotron */

/* services */
.mt-section-services {
  margin-top: 380px;
}

.text-services {
  /* color: #000; */

  transition: ease-out;
  transition-duration: 0.3s;
  font-family: Poppins;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 72.5%; /* 87px */
}

.sec-services:nth-child(1) {
  cursor: url("../cursor/cursor-services1new.png"), auto;
}

.sec-services:nth-child(2) {
  cursor: url("../cursor/cursor-services2new.png"), auto;
}

.sec-services:nth-child(3) {
  cursor: url("../cursor/cursor-services3new.png"), auto;
}

.sec-services:nth-child(1):hover {
  color: #1ad8ec !important;
  transition: ease-out;
  transition-duration: 0.2s;
}

.sec-services:nth-child(2):hover {
  color: #cc49dd !important;
  transition: ease-out;
  transition-duration: 0.2s;
}

.sec-services:nth-child(3):hover {
  color: #e1538d !important;
  transition: ease-out;
  transition-duration: 0.2s;
}
/* end services */

/* swipe services */
.mt-section {
  margin-top: 120px;
}

.text-swipe-services {
  color: #0eb0f1;

  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.swipe-service .splide__track .splide__list {
  align-items: center;
  width: 100%;
}

.swipe-service .splide__track li.splide__slide {
  width: fit-content !important;
  margin-right: calc(5%);
}
/* end swipe services */

/* portfolio */
.portfolio-title {
  color: #000;

  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
}

.union-blue {
  position: absolute;
  left: 80%;
  top: 50%;
}

.sec-portfolio {
  margin-top: 80px;
}

.cursor-eye-portfolio {
  cursor: url("../cursor/cursor-services4.png"), auto;
}

.swipe-portfolio .splide__track .splide__list {
  align-items: center;
  width: 100%;
}

.swipe-portfolio .splide__track li.splide__slide {
  width: fit-content !important;
  margin-right: calc(5%);
}
/* end portfolio */

/* quote */
.text-quote {
  color: #000;
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 72.5%; /* 87px */
}

.img-qoute {
  width: auto;
  height: auto;
}
/* end quote */

/* contact us */
.sec-contactus {
  height: 400px;
  background: #0eb0f1;
}

.text-header-contactus {
  color: #fff;
  font-family: Poppins;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 72.5%; /* 87px */
}

.union-black {
  position: absolute;
  left: 90%;
  top: 50%;
}

.btn-contactus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
/* end contact us */

/* footer */
.footer-logo {
  text-align: center;
  color: #fff;

  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;

  user-select: none;
}

/* floating bar */
.floating-bar-section {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

.floating-nav {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.child-floating-nav {
  border: none;
}

.child-floating-nav a {
  padding: 8px 20px;
  border-radius: 8px;

  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.child-floating-nav a:hover {
  background: #0eb0f1;
}

.floating-nav:hover {
  color: #0eb0f1;
  transition: ease-out;
  transition-duration: 0.2s;
  cursor: pointer;
}

.floating-nav.active {
  background: #0eb0f1;
}

.floating-icon:hover {
  filter: invert(52%) sepia(88%) saturate(1589%) hue-rotate(162deg)
    brightness(98%) contrast(93%);
  transition: ease-out;
  transition-duration: 0.2s;
  cursor: pointer;
}

.floating-nav.active:hover {
  color: #fff;
}

/* add media query */
@media (max-width: 640px) {
  .scroll-spin-image {
    position: absolute;
    top: 60px;
    left: 40px;
  }
}

@media (max-width: 696px) {
  .text-quote {
    color: #000;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 72.5%; /* 87px */
  }
}

@media (max-width: 795px) {
  .text-quote {
    color: #000;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 72.5%; /* 87px */
  }
}

@media (max-width: 948px) {
  .text-quote {
    color: #000;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 72.5%; /* 87px */
  }

  .mt-section-services {
    margin-top: 260px;
  }

  .text-header-contactus {
    color: #fff;
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 72.5%; /* 87px */
  }
}

@media (max-width: 992px) {
  .text-quote {
    color: #000;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 72.5%; /* 87px */
  }
}

@media (max-width: 1118px) {
  .text-quote {
    color: #000;
    font-family: Poppins;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 72.5%; /* 87px */
  }
}

@media (max-width: 1280px) {
  .text-quote {
    color: #000;
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 72.5%; /* 87px */
  }
}
